// дз.cpp

#include <iostream>
#include <locale.h> //библиотеки 
#include <stdlib.h>

using namespace std;

int main()
{
	setlocale(LC_ALL, "rus"); // локализация 

	
	cout << "----Программа для вычислениядюймов и сантиметров----"<< endl; // описание программы
	const float inch = 2.54; // константа которую нельзя изменить + float вместо int из-за десятичных чисел дробных
	double centimeters, answer; // сантиметры
	cout << "Введите дюймы: "; cin >> centimeters;
	answer = inch * centimeters;  // математические операции 
	cout << "Cтолько сантиметров: " << answer << endl;
	cout << "Введите сантиметры: "; cin >> centimeters;
	answer = centimeters / inch; // математические операции 
	cout << "Столько Дюймов: " << answer << endl;
	system("pause"); // запрос нажатие любой клавиши
